<div class="president-section">

  <div class="container">

    <div class="president-card">

      <div class="row align-items-center">

        <!-- PHOTO -->
        <div class="col-lg-5 col-12 president-image">
          <img src="assets/Paul.jpg" alt="Directeur">
        </div>

        <!-- TEXTE -->
        <div class="col-lg-7 col-12">

          <div class="president-content">

            <!-- <h5 class="section-label">MESSAGE OFFICIEL</h5> -->

            <h2 class="president-name">
              Dr Lembegue Verlaine Valery Yves
            </h2>

            <p class="president-title">
             <i>Président-Directeur Général </i> 
              <br>
              Green Energy Fund Africa USA LLC
            </p>

            <div class="gold-line"></div>

            <p><i>
              En tant que CEO de Green Energy Fund Africa USA LLC, ma maîtrise en gestion d’entreprise 
              et en gestion de projets d'infrastructures m’a permis de contribuer significativement à 
              l'essor de l'énergie durable sur le continent africain.</i>
            </p>

            <p><i>
              Notre engagement repose sur la sécurisation énergétique et le développement de solutions 
              innovantes en collaboration avec des institutions internationales de premier plan.</i>
            </p>

            <p><i>
              Fort de mon expérience en tant que Country Manager pour l’Exim Bank des États-Unis, 
              je m’inscris dans une dynamique d’excellence et de transformation durable.</i>
            </p>

            <div class="signature-block">
              <span>Le Président-Directeur Général</span>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>