<div class="back-home">

<a routerLink="/" class="home-btn">

<i class="bi bi-arrow-left"></i> Accueil

</a>

</div>

<section class="enterprise-section">

<div class="container">

<h2 class="section-title text-center">
NOTRE ENTREPRISE
</h2>

<p class="enterprise-intro text-center " >
GREEN ENERGY FUND AFRICA USA LLC est un partenaire certifié de
l’Agence Internationale de l’Énergie spécialisé dans la promotion,
la sécurisation et le trading international des produits dérivés
de l’énergie (pétrole, gaz, électricité).
</p>

</div>

</section>


<!-- EXPERTISE -->

<section class="expertise-section">

<div class="container">

<div class="row text-center">

<div class="col-lg-4 col-md-6 mb-4">

<div class="expertise-card">

<i class="bi bi-globe"></i>

<h4>Flux internationaux</h4>

<p>
Maîtrise complète des flux logistiques et commerciaux
dans le commerce international des produits pétroliers.
</p>

</div>

</div>

<div class="col-lg-4 col-md-6 mb-4">

<div class="expertise-card">

<i class="bi bi-shield-check"></i>

<h4>Transactions sécurisées</h4>

<p>
Diligence et sécurisation des transactions selon les
normes internationales du secteur énergétique.
</p>

</div>

</div>

<div class="col-lg-4 col-md-6 mb-4">

<div class="expertise-card">

<i class="bi bi-award"></i>

<h4>Conformité marché</h4>

<p>
Respect strict des normes du marché et des
réglementations internationales.
</p>

</div>

</div>

</div>

</div>

</section>


<!-- PRODUITS -->

<section class="products-section">

<div class="container">

<h2 class="section-title text-center" style="color: #0b7a63;">
NOS PRODUITS
</h2>

<div class="row text-center">

<div class="col-md-4 mb-4">

<div class="product-card">

<h4>Gasoil</h4>

<p>Norme EN 590</p>
<p>Soufre ≤10 ppm</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="product-card">

<h4>Essence</h4>

<p>Norme EN 228</p>
<p>Octane 95 RON</p>

</div>

</div>

<div class="col-md-4 mb-4">

<div class="product-card">

<h4>Kérosène</h4>

<p>Jet A-1</p>
<p>Point d’éclair ≥ 38°C</p>

</div>

</div>

</div>

</div>

</section>


<!-- CLIENTS -->

<section class="clients-section">

<div class="container">

<h2 class="section-title text-center" style="color: rgb(5, 160, 111);">
NOS CLIENTS
</h2>

<div class="row text-center">

<div class="col-md-4 mb-4">

<div class="client-card">
Marketeurs pétroliers
</div>

</div>

<div class="col-md-4 mb-4">

<div class="client-card">
Dépôts pétroliers
</div>

</div>

<div class="col-md-4 mb-4">

<div class="client-card">
Stations-service
</div>

</div>

</div>

</div>

</section>


<!-- DISTRIBUTION -->

<section class="distribution-section">

<div class="container">

<h2 class="section-title text-center" style="color: #0b7a63">
DISTRIBUTION
</h2>

<!-- <ul class="distribution-list">

<li>Livraison CIF Cameroun (Port de Douala)</li>
<li>Transit international vers pays tiers</li>
<li>Contrôle qualité SONARA</li>
<li>Plateforme logistique SCDP</li>

</ul> -->
<section class="distribution-section">

<div class="container">

<div class="distribution-wrapper">

<!-- bloc 1 -->

<div class="distribution-item">

<div class="distribution-img">
<img src="assets/port1.jpg" alt="port">
</div>

<div class="distribution-text">
<h4>Livraison CIF Cameroun</h4>
<p>
Livraison au port de Douala ou tout autre port convenu selon les
conditions CIF (Cost Insurance Freight).
</p>
</div>

</div>


<!-- bloc 2 -->

<div class="distribution-item reverse">

<div class="distribution-text">
<h4>Transit International</h4>
<p>
Possibilité de réexpédition vers tout pays tiers grâce à nos
partenaires logistiques internationaux.
</p>
</div>

<div class="distribution-img">
<img src="assets/petroluemb.jpg" alt="logistique">
</div>

</div>


<!-- bloc 3 -->

<div class="distribution-item">

<div class="distribution-img">
<img src="assets/raf.jpg" alt="raffinerie">
</div>

<div class="distribution-text">
<h4>Contrôle qualité SONARA</h4>
<p>
Réception et contrôle qualité des produits pétroliers selon les
standards internationaux.
</p>
</div>

</div>


<!-- bloc 4 -->

<div class="distribution-item reverse">

<div class="distribution-text">
<h4>Plateforme SCDP</h4>
<p>
Centre principal de livraison et plateforme de transit
international des produits pétroliers.
</p>
</div>

<div class="distribution-img">
<img src="assets/platform.jpg" alt="stockage">
</div>

</div>

</div>

</div>

</section>

</div>

</section>


<!-- PLAN ACTION -->

<!-- <section class="action-section">

<div class="container">

<h2 class="section-title text-center">
PLAN D’ACTION
</h2>

<div class="row">

<div class="col-md-6">

<ul>

<li>Acquisition des bureaux GEFA Douala</li>
<li>Aménagement et équipement</li>
<li>Communication et publicité</li>
<li>Prospection clients</li>

</ul>

</div>

<div class="col-md-6">

<ul>

<li>Manuel de procédures</li>
<li>Approvisionnement pétrolier</li>
<li>Vente et suivi des produits</li>
<li>Revue d’affaires</li>

</ul>

</div>

</div>

</div>

</section> -->
